{% extends 'inventory/base.html'%}
{% load staticfiles %}
{% load static %}
{% load inventory_tags %}

{% block content %}
<header style="margin-left:-300px;margin-top:-180px;">
  <span><h1 style="margin-top:80px;margin-left:500px;font-weight:bold;"> Edit </h1></span>

    <div class="card" style="width: 30rem;color:black;margin-left:300px;">
      <div style="padding:30px;">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
  {{editForm.as_p}}
  </div>
  <br>
  <button type="submit" class="btn btn-primary" style="margin-top:10px;">Edit</button>
  </form>
  </div>
  </div>
  </div>

</header>

{% endblock content%}
