{% extends 'inventory/dashboard.html'%}
{% load inventory_tags %}
{%load staticfiles%}
{%load static%}
{%block content%}
  <style>
  .col1{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  }
  .col3{
    padding:20px 0px 20px 0px;
  }
    .row1{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .row2{
      /* display: block; */
      text-align: center;
    }
    .row3{
      position: relative;
      left:50%;

    }
    .info {
      color:white;
    }
    #grid {
  display: grid;
  /* grid-template-rows: repeat(9, 1fr); */
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 30px;
  }
  #grid > div {
    background-color: #5bc0de;
    color: white;
    font-size: 1vw;
    padding: 10px;
    border-radius:8px;

  }
  .hello{
    padding:0px 30px 0px 30px;
  }
  </style>

  <div class="col1">
    <div class="row2">
      <h1 class="text-white" style="font-weight:bold;font-size:40px;">Inventory Management for ICTC and Department</h1>
      <h2 class="text-white"> Pulchowk Campus, Lalitpur </h2>
    </div>
    <!-- <br />
    <br />
    <br />
    <br /> -->
    </div>
    <div class="col3">
      <p class="hoverZoom">
      <a href="{%url 'add1' %}" style="color:rgb(80,177,92);font-weight:bold">
        <img class="row3" src="{% static 'inventory/images/plus.png' %}" style="width:60px;height:60px;">
      <!-- <h1 style="font-family:Helvetica Neue;font-size:20px;color:rgb(80,177,92);font-weight:bold;">Add an item</h1> -->
      </a>
      </p>
    </div>
  <span class="row1">
  <!-- <a href="{% url 'search' 999 999%}" style="text-decoration:none;">
    <div class="card hoverZoom bg-info text-white" style="width:270px;height:150px;">
  <div class="card-body">
    <h4 class="card-title">Total Items</h4>
    <p class="card-text">{%total_products_count%}</p>

  </div>
</div></a>
<a href="{% url 'search2' 999 999%}" style="text-decoration:none;">
<div class="card hoverZoom bg-danger text-white" style="width:270px;height:150px;">
 <div class="card-body">
  <h4 class="card-title">Out Of Order Items</h4>
  <p class="card-text">{%out_of_order_count%}</p>

</div>
</div>
</a>
<a href="{% url 'search3' 999 999%}" style="text-decoration:none;" >
<div class="card hoverZoom bg-secondary text-white" style="width:270px;height:150px">
 <div class="card-body">
  <h4 class="card-title">In Maintenance Items</h4>
  <p class="card-text">{%in_maintenance_count%}</p>

</div>
</div>
</a> -->


<div id="grid">
{% for name,working,out,maintenance in categoryDetails%}

<div class="hoverZoom">
  <a href="{% url 'details' forloop.counter %}" style="text-decoration:none;">
<h7 style="color:#35495E"><b>{{name}}</b></h7>
<p class="info">Working: {{working}}</p>
<p class="info">Out Of Order: {{out}}</p>
<p class="info">In Maintenance: {{maintenance}}</p>
</a>
</div>

{% endfor%}
</div>

  </span>
  <br>
  <br>

  {%if messages%}
  {%for message in messages%}
  <div class="alert alert-{{message.tags}}">
    {{message}}
  </div>
  {%endfor%}
  {%endif%}
{%endblock%}
