{% extends 'inventory/dashboard.html'%}
{% load inventory_tags %}
{%load staticfiles%}
{%load static%}
{%load crispy_forms_tags %}
{%block content%}
  <style>

  .row1{
    position:absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  </style>

  <div class="row1">
    {%if messages%}
    {%for message in messages%}
    <div class="alert alert-{{message.tags}}">
      {{message}}
    </div>
    {%endfor%}
    {%endif%}
    <div class="card" style="width:400px;overflow-y:scroll;">
      <div class="card-body">
        <h5 class="card-title"> Create a room </h5>
        <form method="POST">
        {% csrf_token %}
        {{createRoomform|crispy}}
        <button class="btn btn-info" type="Submit">Add</button>
        </form>
      </div>
    </div>
  </div>


{%endblock%}
