{% load staticfiles %}
{% load inventory_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lab Inventory Dashboard</title>
		<meta name="description" content="Manage your Lab Inventory with ease" />
		<meta name="keywords" content="Inventory Management" />
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" href="{% static 'inventory/vendor/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="shortcut icon" href="{% static 'inventory/images/favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'inventory/css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'inventory/css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'inventory/css/component.css' %}" />
		<script src="{% static 'inventory/js/modernizr.custom.js' %}"></script>
		<script src="{% static 'inventory/vendor/jquery/jquery-3.3.1.slim.min.js' %}"></script>
		<script src="{% static 'inventory/vendor/ajax/libs/popper/1.14.6/umd/popper.min.js' %}"></script>
		<script src="{% static 'inventory/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		{% block extra_js %}
		{% endblock extra_js %}

	</head>
	<body style="height:100%;overflow:hidden;background: #34495e;">
		<div class="containerDash">
			<ul id="gn-menu" class="gn-menu-main" style="z-index:100;position:absolute;" >
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a class="gn-icon gn-icon-article" href="{% url 'dashboard'%}">Dashboard</a></li>


																<li>
									<a class="gn-icon gn-icon-archive" href="{% url 'admin:index' %}">Admin</a>
																	</li>
								<li class="gn-search-item">
								<a class="gn-icon gn-icon-search" href="{% url 'search' 999 999 %}">Search</a>
								</li>
								<li>
																	<a class="gn-icon gn-icon-cog" href="{% url 'editcategory'%}">Edit Categories</a>
																</li>
																	<li>
																			<a class="codrops-icon codrops-icon-drop" href="{% url 'createroom'%}" style="padding-left:15px;">Create Room</a>
																		</li>
																		<li>
																				<a class="codrops-icon codrops-icon-drop" href="{% url 'createfloor' %}" style="padding-left:15px;">Create Floor</a>
																			</li>
																			<li>
																				<a class="gn-icon gn-icon-download" href="{% url 'register'%}">New User</a>
																			</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><img src="{% static 'inventory/images/tulogo.png' %}" class="tulogo" alt="tulogo"></li>
				<li><a href="{%url 'dashboard'%}">Lab Inventory Management</a></li>


				<li><a class="codrops-icon codrops-icon-drop" href="{% url 'logout'%}"><span>Log Out</span></a></li>
			</ul>
      {% block content %}

{% endblock content %}
	</div>
		<!-- /container -->
		<script src="{% static 'inventory/js/classie.js' %}"></script>
		<script src="{% static 'inventory/js/gnmenu.js' %}"></script>

    <script>
      new gnMenu( document.getElementById( 'gn-menu' ) );
      </script>

	</body>

</html>
