{% extends 'inventory/base.html'%}
{% load staticfiles %}
{% load static %}
{% load inventory_tags %}

{% block content %}
{% block extra_js%}
<script src="{% static 'inventory/js/tableCollapse.js' %}"></script>
<script src="{% static 'inventory/vendor/jquery/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'inventory/vendor/ajax/libs/popper/1.14.6/umd/popper.min.js' %}"></script>
<script src="{% static 'inventory/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock extra_js %}

<style>
	#dataTable {
		 color:black;
		 background-color:white;
		 margin-top:40px;
		 width:100%;
	}
	</style>


			<header style="margin-left:-300px;margin-top:-180px;">
				<span><h1 style="margin-top:80px;margin-left:500px;font-weight:bold;"> Out of order Products </h1></span>
			<div class="row" style="margin-top:100px;margin-right:20px;">
            <div class = "col-2" style="margin-top:-120px;padding:20px;">

				<h2 style="color:white;font-size:13px;"> Floor </h2>
				<div class="list-group" style="font-size:12px;width:70px;">
					{% url 'dashsearchUrl' 500 500 as urlFloorAll %}
                      <a href="{{urlFloorAll}}" {% if request.path == urlFloorAll %} class=" active list-group-item list-group-item-action number" {% endif %} class="list-group-item list-group-item-action number">
                        All
                      </a>
                        {% for obj in floorObj %}
                        {% url 'dashsearchUrl' obj.pk 500 as urlFloorSelect %}
                     <a href="{{urlFloorSelect}}" {% if request.path == urlFloorSelect %} class="active list-group-item list-group-item-action number"{% endif %}class="list-group-item list-group-item-action number"><li>{{obj.floor}}</li></a>
                     {% endfor %}

                    </div>
                <br>
                    <h2 style="color:white;font-size:13px;"> Room </h2>
                    <div class="list-group" style="font-size:12px;overflow-y:scroll;height:300px;width:70px;">
                    {% url 'dashsearchUrl' 500 500 as urlRoomAll%}
                    <a href="{{urlRoomAll}}" {% if request.path == urlRoomAll %}class=" active list-group-item list-group-item-action number" {% endif %} class="list-group-item list-group-item-action number">
                    All
                    </a>
                {% for obj in roomObj%}
                            {% url 'dashsearchUrl' 500 obj.pk as urlRoomSelect %}
                      <a href="{{urlRoomSelect}}" {% if request.path == urlRoomSelect %} class="active list-group-item list-group-item-action number"{% endif %}class="list-group-item list-group-item-action number"><li>{{obj.room_no}}</li></a>
                      {% endfor %}
                </div>

			</div>
			<div class="col-10">

<!-- <div style="position:relative;margin-top:-80px;">
			<input class="form-control" type="text" placeholder="Search.." name="search" style="width:25%;" id="myInput" onkeyup="mySearchFunction()">
			<img src = "{% static 'inventory/images/search.svg' %}" style="width:20px;height:20px;position:absolute;top:10px;left:225px;opacity:0.5">
		</div> -->
		<div class="row">
			<div class="col">
				{% if objCount%}
				<table class="table table-hover table-bordered" style="color:black;background-color:white;height:550px;margin-top:-76px;margin-left:-130px;width:200px;">
                    <thead class="thead-dark">
                        <tr class="table-primary">
                            <th scope="col">Equipments</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
			         <tbody>
                        <tr>
                            <td> <a  href="#" class="collapse1">{% equipment1_name%}</a></td>
                            <td> {{objCount.0}}</td>
                        </tr>
                        <tr>
                            <td> <a  href="#" class="collapse2">{% equipment2_name%}</a></td>
                            <td> {{objCount.1}}</td>
                        </tr>
                        <tr>
                            <td><a  href="#" class="collapse3"> {% equipment3_name%}</a></td>
                            <td> {{objCount.2}}</td>
                        </tr>
                        <tr>
                            <td> <a  href="#" class="collapse4"> {% equipment4_name%}</a></td>
                            <td> {{objCount.3}}</td>
                        </tr>
                        <tr>
                            <td> <a  href="#" class="collapse5">{% equipment5_name%}</a></td>
                            <td> {{objCount.4}}</td>

                        </tr>
                     </tbody>
                </table>
			{% endif %}

	    </div>

<div class="col" style="margin-top:-120px;overflow-y:scroll;height:600px;width:900px;margin-left:-850px;">

	<div class="collapse collapseExample1">
		{% if computerObj.all %}
	 <table class="table table-bordered table-striped"  id="dataTable">
		 <thead class="thead-dark">
			 <tr>
				 <th scope="col">Name</th>
				 <th scope="col">Model</th>
				 <th scope="col">Cost</th>
				 <th scope="col">Date of Acquire</th>
				 <th scope="col">Status</th>
				 <th scope="col">Last Modified</th>
				 <th scope="col">Floor</th>
				<th scope="col">Room</th>
				 <th scope="col">Edit</th>
				 <th scope="col">Delete</th>
			 </tr>
		 </thead>
		 <tbody>
			 {% for obj in computerObj%}
			 <tr>
				 <td>{{obj.name}}</td>
				 <td>{{obj.model}}</td>
				 <td>{{obj.cost}}</td>
				 <td>{{obj.date_of_acquire}}</td>
				 <td>{{obj.status}}</td>
				 <td>{{obj.last_modified}}</td>
				 <td>{{obj.room.floor}}</td>
				 <td>{{obj.room}}</td>
				 <td> <a href="{% url 'editComputer' obj.pk %}"><img src = "{% static 'inventory/images/edit.svg' %}" style="width:20px;height:20px;">	</a></td>
				 <td><a href="{% url 'deleteComputer' obj.pk %}"><img src = "{% static 'inventory/images/delete.svg' %}" style="width:20px;height:20px;">	</a></td>
			 </tr>
			 {% endfor %}
		 </tbody>
	 </table>
	 {% else %}
	 <div class="alert alert-danger" style="margin-top:50px;" role="alert">
  There is no {% equipment1_name %}
</div>
	 {% endif %}
	</div>

	<div class="collapse collapseExample2" style="overflow-y:scroll;height:700px;">
		{% if laptopObj.all %}
	 <table class="table table-bordered table-striped"  id="dataTable">
		 <thead class="thead-dark">
			 <tr>
				 <th scope="col">Name</th>
				 <th scope="col">Model</th>
				 <th scope="col">Cost</th>
				 <th scope="col">Date of Acquire</th>
				 <th scope="col">Status</th>
				 <th scope="col">Last Modified</th>
				 <th scope="col">Floor</th>
				<th scope="col">Room</th>
				 <th scope="col">Edit</th>
				 <th scope="col">Delete</th>
			 </tr>
		 </thead>
		 <tbody>
			 {% for obj in laptopObj%}
			 <tr>
				 <td>{{obj.name}}</td>
				 <td>{{obj.model}}</td>
				 <td>{{obj.cost}}</td>
				 <td>{{obj.date_of_acquire}}</td>
				 <td>{{obj.status}}</td>
				 <td>{{obj.last_modified}}</td>
				 <td>{{obj.room.floor}}</td>
				 <td>{{obj.room}}</td>
				 <td> <a href="{% url 'editLaptop' obj.pk%}"><img src = "{% static 'inventory/images/edit.svg' %}" style="width:20px;height:20px;">	</a></td>
				 <td><a href="{% url 'deleteLaptop' obj.pk %}"><img src = "{% static 'inventory/images/delete.svg' %}" style="width:20px;height:20px;">	</a></td>
			 </tr>
			 {% endfor %}
		 </tbody>
	 </table>
	 {% else %}
	 <div class="alert alert-danger" style="margin-top:50px;" role="alert">
  There is no {% equipment2_name %}
</div>
	 {% endif %}
	</div>

	<div class="collapse collapseExample3">
		{%if networkObj.all %}
	 <table class="table table-bordered table-striped" id="dataTable">
		 <thead class="thead-dark">
			 <tr>
				 <th scope="col">Name</th>
				 <th scope="col">Model</th>
				 <th scope="col">Cost</th>
				 <th scope="col">Date of Acquire</th>
				 <th scope="col">Status</th>
				 <th scope="col">Ports</th>
				 <th scope="col">SFP ports</th>
				 <th scope="col">Last Modified</th>
				 <th scope="col">Floor</th>
				<th scope="col">Room</th>
				 <th scope="col">Edit</th>
				 <th scope="col">Delete</th>
			 </tr>
		 </thead>
		 <tbody>
			 {% for obj in networkObj%}
			 <tr>
				 <td>{{obj.name}}</td>
				 <td>{{obj.model}}</td>
				 <td>{{obj.cost}}</td>
				 <td>{{obj.date_of_acquire}}</td>
				 <td>{{obj.status}}</td>
				 <td>{{obj.no_of_ports}}</td>
				 <td>{{obj.no_of_SFP_ports}}</td>
				 <td>{{obj.last_modified}}</td>
				 <td>{{obj.room.floor}}</td>
				 <td>{{obj.room}}</td>
				 <td> <a href="{% url 'editNetworkSwitch' obj.pk%}"><img src = "{% static 'inventory/images/edit.svg' %}" style="width:20px;height:20px;">	</a></td>
				 <td><a href="{% url 'deleteNetworkSwitch' obj.pk %}"><img src = "{% static 'inventory/images/delete.svg' %}" style="width:20px;height:20px;">	</a></td>
			 </tr>
			 {% endfor %}
		 </tbody>
	 </table>
	 {% else %}
	 <div class="alert alert-danger" style="margin-top:50px;" role="alert">
  There is no {% equipment3_name %}
</div>
	 {% endif %}
	</div>

	<div class="collapse collapseExample4" >
		{% if printerObj.all %}
	 <table class="table table-bordered table-striped" id="dataTable">
		 <thead class="thead-dark">
			 <tr>
				 <th scope="col">Name</th>
				 <th scope="col">Model</th>
				 <th scope="col">Cost</th>
				 <th scope="col">Date of Acquire</th>
				 <th scope="col">Status</th>
				 	 <th scope="col">IP add.</th>
					  <th scope="col">Last Modified</th>
						<th scope="col">Floor</th>
					 <th scope="col">Room</th>
				 <th scope="col">Edit</th>
				 <th scope="col">Delete</th>
			 </tr>
		 </thead>
		 <tbody>
			 {% for obj in printerObj%}
			 <tr>
				 <td>{{obj.name}}</td>
				 <td>{{obj.model}}</td>
				 <td>{{obj.cost}}</td>
				 <td>{{obj.date_of_acquire}}</td>
				 <td>{{obj.status}}</td>
				 <td>{{obj.ip_address}}</td>
				 <td>{{obj.last_modified}}</td>
				 <td>{{obj.room.floor}}</td>
				 <td>{{obj.room}}</td>
				 <td> <a href="{% url 'editPrinter' obj.pk%}"><img src = "{% static 'inventory/images/edit.svg' %}" style="width:20px;height:20px;">	</a></td>
				 <td><a href="{% url 'deletePrinter' obj.pk %}"><img src = "{% static 'inventory/images/delete.svg' %}" style="width:20px;height:20px;">	</a></td>
			 </tr>
			 {% endfor %}
		 </tbody>
	 </table>
	 {% else %}
	 <div class="alert alert-danger" style="margin-top:50px;" role="alert">
  There is no {% equipment4_name %}
</div>
	 {% endif %}
	</div>


	<div class="collapse collapseExample5" >
		{% if additionalObj.all %}
	 <table class="table table-bordered table-striped" id="dataTable">
		 <thead class="thead-dark">
			 <tr>
				 <th scope="col">Name</th>
				 <th scope="col">Model</th>
				 <th scope="col">Cost</th>
				 <th scope="col">Date of Acquire</th>
				 <th scope="col">Status</th>
				 <th scope="col">Last Modified</th>
				 <th scope="col">Floor</th>
				<th scope="col">Room</th>
				 <th scope="col">Edit</th>
				 <th scope="col">Delete</th>
			 </tr>
		 </thead>
		 <tbody>
			 {% for obj in additionalObj%}
			 <tr>
				 <td>{{obj.name}}</td>
				 <td>{{obj.model}}</td>
				 <td>{{obj.cost}}</td>
				 <td>{{obj.date_of_acquire}}</td>
				 <td>{{obj.status}}</td>
				 <td>{{obj.last_modified}}</td>
				 <td>{{obj.room.floor}}</td>
				 <td>{{obj.room}}</td>
				 <td> <a href="{% url 'editAdditionalItem' obj.pk%}"><img src = "{% static 'inventory/images/edit.svg' %}" style="width:20px;height:20px;">	</a></td>
				 <td><a href="{% url 'deleteAdditionalItem' obj.pk %}"><img src = "{% static 'inventory/images/delete.svg' %}" style="width:20px;height:20px;">	</a></td>
			 </tr>
			 {% endfor %}
		 </tbody>
	 </table>
	 {% else %}
	 <div class="alert alert-danger" style="margin-top:50px;" role="alert">
  There is no {% equipment5_name %}
</div>
	 {% endif %}
	</div>
	<div class="collapse collapseEmpty">
		<div class="alert alert-primary" style="margin-top:50px;" role="alert">
	 Click on any equipment for additional detail from the table
	</div>
		</div>

</div>


	</div>
		</div>
	</div>
</header>
{% endblock content %}
