{% extends 'inventory/dashboard.html'%}
{% load inventory_tags %}
{%load crispy_forms_tags %}
{%load staticfiles%}
{%load static%}
{%block content%}
  <style>

    .row1{
      padding-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  </style>
  <div class="row1" style="padding:15%;">


<div class="card" style="width:600px;overflow-y:scroll;">
  <div class="card-body">
    <h3 class="card-title"> Edit </h3>
    <form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button class="btn btn-info" type="Submit">Edit</button>
    </form>
  </div>
</div>
</div>


{%endblock%}
