{% extends 'inventory/dashboard.html'%}
{% load inventory_tags %}
{%load staticfiles%}
{%load static%}
{%load crispy_forms_tags %}
{%block content%}
  <style>

  .row1{
    position:absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  </style>

  <div class="row1">
    {%if messages%}
    {%for message in messages%}
    <div class="alert alert-{{message.tags}}">
      {{message}}
    </div>
    {%endfor%}
    {%endif%}
    <div class="card" style="width:400px;overflow-y:scroll;">
      <div class="card-body">
        <h5 class="card-title"> Select the category you want to edit </h5>
        <ul class="list-group list-group-flush">
          {% for category in categoryObj%}
          <a href="{% url 'editcategory2' category.pk %}"><li class="list-group-item">{{category.category_name}}</li></a>
            {% endfor%}
          </ul>
      </div>
    </div>
  </div>


{%endblock%}
